.wrapper{
  background-color: $white;
}
.portfolio{
  @media ($brk-narrow){
    @include flexbox(flex, row, wrap);
    margin:auto;
    width: 90%;
    h3{
      @include flex(1, 0, 100%);
    }
  }
}
.portfolio, .contact, .skills{
  padding: 2em 0;
}
.contact p{
  @media ($brk-wide){
    width: 50%;
    margin: auto;
    padding-bottom: 2em;
  }
}
.skills, .skill-list {
  @include flexbox(flex, column);
  width: 90%;
  margin: auto;
}
.skill-list {
  @include flex(1, 0, 30%);
  text-align: center;
  h3{
    margin-top: 0;
  }
}
img.workplace {
  height: 250px;
  @include flex(1, 0, 30%, 2);
  justify-content: space-between;
  align-content: space-between;
  padding-left: 2em;
}
.skills{
  @include flexbox(flex, column);
  @media ($brk-narrow){
    @include flexbox($direction: row, $wrap: wrap);
    h2{
      @include flex(1, 0, 100%);
      text-align: center;
    }
  }
  ul{
    align-self: center;
    i {
      @include text($color: $color-prim);
      margin-right: 1em;
    }
    li{
      font-family:$stack-gloria;
    }
  }
}
