/* =================================
Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}
body {
  @include text(1em, 1.6, $color: $color-text-base);
  background-color: $color-body;
  font-family: $stack-source;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  @extend %centered;
  color: $color-text-light;
  margin: 1em;
}
h1,
h2,
h3,
a {
  color: $color-sec;
  font-family: $stack-miriam;
  @extend %centered;
}
h2,
h3,
{
  text-transform: uppercase;
}
a {
  text-decoration: none;
  font-weight: bold;
}
span {
    display: block;
    @extend %centered;
    padding: .5em 0;
}
