// Text

@mixin text($size: null, $l-height: null, $weight: null, $color: null) {
  font-size: $size;
  line-height: $l-height;
  font-weight: $weight;
  color: $color;
}

@mixin flexbox($display: null, $direction: null, $wrap: null, $content: null, $self: null){
  display: $display;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $content;
  align-self: $self;
}

@mixin flex($grow: 1, $shrink: 1, $basis: 0%, $order: null){
  flex-grow: $grow;
  flex-shrink: $shrink;
  flex-basis: $basis;
  order: $order;
}
